:root {
    --roboto:  roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    --times: 'Times New Roman', Times, serif;
    --google: 'Google Sans';
    --outline: 2px solid red;
    --blue: rgb(12, 46, 168);
    --image-overlay : linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.8));
    --offwhite: rgb(216, 216, 216);
    --span-green: rgb(8, 201, 8);
    font-size: 100%;
}
@media (min-width: 100px){
body{
    background-color: black;
    overflow: hidden;
}


span{
    color: gold;
}
.message {
    position:absolute;
    width: 380px;
    z-index: 6;
    left: 10px;
    text-align: center;
    font-family: var(--roboto);
    font-weight: 600;
    border-radius: 10px;

}
.message.success {
    background-color: green;
    color: white;
    top: 5px;
}
.message.error {
    background-color: rgb(189, 52, 52);
    color: white;
    top: 10px;
}
.no-request {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
/* for the bell notification badge */
.fa-bell::after {
    content: attr(data-count);
    height: 25px;
    width: 25px;
    display: grid;
    place-content: center;
    background-color: red;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: 600;
    position: absolute;
    top: -3px;
    right: -5px;
}
.fa-bell.inactive::after{
    display: none;
}
/*--------------------PROFILE BASE-----------------*/
.profile-wrapper{
    position: relative;
    margin: auto;
    width: 400px;
    background-color: transparent;
    height: 100dvh;
}

.profile-wrapper .navigation{
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    height: 60px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navigation ul{
    display: flex;
    width: 100%;
    margin-left: -40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    height: 70px;
    cursor: pointer;
    z-index: 1;
}
.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation ul li a .icon{
    color: black;
    display: block;
    position: relative;
    line-height: 85px;
    font-size: 1.3rem;
    text-align: center;
    transition: 0.5s;
}
.navigation ul li a:hover{
    text-decoration: none;
}
.Security-form{
    height: auto;
}
.navigation ul li:hover a .icon{
    color: white;
}
.navigation ul li.active a .icon{
    color: white;
    transform: translateY(-5px);
}
.navigation ul li a .text{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-family: var(--roboto);
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}
/* .navigation ul li:hover a .text, */
.navigation ul li.active a .text{
    transform: translateY(15px);
    opacity: 1;
}


/*-----------------ACCOUNT INFORMATION----------------*/

.Account-info{
    position: relative;
    background-color: var(--blue);
    height: 100px;
    color: white;
    display: flex;
    padding: 10px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--roboto);
}
.Account-info .usrname{
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 10px;
}
.usrname span,
.usrname h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.Account-info span{
    color: white;
}
.Account-info .nav{
    display: flex;
    justify-items: space-between;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 10px;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links li a .icon{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
.nav-links li a:hover{
    text-decoration: none; 
}

.nav-links li a:hover .icon{
    color: white;
}

.Account-info .details{
    display: flex;
    margin-top: -15px;
    height: 90px;
    background-color: black;
    color: white ;
    position: absolute;
    top: 70px;
    right: 12px;
    border-radius: 20px;
    width: 94%;
    padding: 10px 30px 15px 50px;
    border: 3px solid var(--blue);   
}
.details .balance span{
    color: var(--span-green);
}
.details .balance p{
    text-align: center;
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 50px;
}
.details .transaction{
    position: absolute;
    right: 10px;
}
.details .transaction a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
}

.details .transaction .btn{ 
    color:  white;
    background-color:var(--blue);
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    width: 130px;
    padding-bottom: 5px;
    border: 2px solid var(--blue);
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 5px;
    margin-left: 10px;
    transform: scale(0.9);
}
.details .transaction .btn:hover{
    transform: scale(1);
}


/*------------ DASHBOARD STYLING----------*/

.dashboard{
    display: grid;
    place-items: center;
    margin-top: 50px;
}
.dashboard .trade-analysis{
    margin-top: 10px;
    background-color: white;
    height: 300px;
    width: 370px;
    position: relative;
    border-radius: 5px;
}
.trade-analysis .links{
    position: relative;
    height: 50px;
}
.dashboard .trade-analysis .dash{
    display: flex;
    width: 10%;
    position: absolute;
    top: 5px;
    left: -30px;
}
.dashboard .trade-analysis .dash .dash-link{
    position: relative;
    left: 0;
    list-style: none;
    width: 120px;
    height: 50px;
    cursor: pointer;
}
.dashboard .trade-analysis .dash li .btn{
    color: black;
    font-size: 1.3rem;
    font-family: var(--roboto);
}
.dash-link.live ~ .content{
    position: absolute;
    top: 40px;
    left: 30px;
    padding: 20px 10px;
    background-color: var(--offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 345px;
    width: 370px;
    overflow-y: auto;
}
.content::-webkit-scrollbar{
    width: 5px;
    overflow: hidden;}

.content .Trade h2 {
    font-size: 1.5rem;
    font-family: var(--roboto);
}
.Trade{
    display: none;
    width: 100%;
    height: 100%;
}

.trade-box{
    padding-left: 0;
}
.Trade .trade-item{
    background-color: black;
    display: flex;
    list-style: none;
    color: white;
    margin-bottom: 15px;
    width: 100%;
    height: 70px;  
    border-radius: 10px; 
}
.btc-icon2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gold;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 100%;
    width: 60px;
}

.btc-icon2 i {
    font-size: 2rem;
    font-weight: 600;
}
.Trade .trade-item .info {
    display: flex;
    background-color: black;
    justify-content: space-between;
    position: relative;
    padding-top: 5px;
}
.amt {
    font-family: var(--roboto);
    display: grid;
    place-items: center;
}
.amt ul {
    padding-left: 10px;
}
.amt span{
    margin-left: 10px;
}
.amt li {
    list-style: none;
    font-size: 0.9rem;
    margin-top: 5px;
    font-weight: 600;
}
.Trade .scroll {
    height: 10px;
}
.profit{
    color: green;
    font-weight: 600;
}
.dash-link:nth-child(1).live ~ .content .Trade:nth-child(1),
.dash-link:nth-child(2).live ~ .content .Trade:nth-child(2),
.dash-link:nth-child(3).live ~ .content .Trade:nth-child(3){
    display: block;
}

.dash-link.live{
    background-color: var(--offwhite);
    border-bottom: none;
    border-radius: 5px;
}
.dash-link span {
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 4;
    border: var(--outline);
    border-radius: 50px;
    padding: 2px 5px;
    background-color: gold;
    color: black;
}
.dash-link .btn {
    display: flex;
}
/*--------------------------------------------------------------TRANSACTIONS PAGE---------------------------------------------------------------------------*/

.transactions-info{
    position: relative;
    height: 100px;
    color: var(--offwhite);
    text-align: center;
    font-family: var(--roboto);
    padding-top: 30px;
}
.transactions-info span{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 1.5rem;
    transition: 0.5s;
}
.transactions-info span:hover{
    transform: scale(1.20);
}
.transactions{
    background-color: transparent;
    height: 570px;
    border-radius: 30px;
    overflow-y: auto;
}
.transactions::-webkit-scrollbar{
    width: 10px;
    overflow: hidden;}
.transactions::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    padding: 20px;

}

.transactions::-webkit-scrollbar-thumb {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
ul .transaction-details{
    width: 100%;
    background: var(--offwhite);
    border: 2px solid var(--blue);
    list-style: none;
    text-align: justify;
    padding: 10px 20px;
    margin: 15px -15px 0;
    border-radius: 20px;
}

.transactions .scroll {
    height: 150px;
}

.transaction-details .row .col-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 20px;
}
ul h3 {
    font-size: 1.3rem;
    font-family: var(--google);
    font-weight: 600;
}
ul .amount{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--roboto);
}
ul .category {
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--roboto);
    color: green;
}
ul p{
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}
ul .date{
    background-color: transparent;
    color: black;
    font-weight: bold;
}
ul .footer .date{
    background-color: transparent;
    color: white;
    font-weight: bold;
}
.letter p {
    position: relative;
    font-weight: 600 ;
}
.letter .footer {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: flex-end;
    border-radius: 30px;
    padding: 2.5px 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaction-details.denied .category{
    color: red;
}
.innerdiv2 {
    margin: 0 20px;
}

.innerdiv1 i{
    font-size: 1.5rem;
}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ------------------------OVERLAY DIVISION------------------------ */

.Overlay{
    position: absolute;
    display: none;
}
.Overlay.Blurred{
    width: 100%;
    margin: auto;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 4;
    display: block;
}
.deposit-details {
    display: flex;
    overflow: hidden;
}
.deposit-details .withdraw-form-wrapper{
    min-width: 400px;
}
.deposit-details .withdraw-form-wrapper.inactive {
    transform: translateX(-400px);

}
.deposit-details .wrapper{
    background-color: black;
    min-width: 400px;
    height: 350px ;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s ease;
    margin-top: 70px;
}
.wrapper.active {
    transform: translateX(-400px)
}
.form-box{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 30px;
    font-family: var(--roboto);
}
.form-box h4,
.form-box h3{
    font-size: 1.5rem;
}
.form-box .notice{
    text-align: center;
}
#deposit-address {
    color: white;
    border: 2px solid var(--blue);
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
}
#copy{
    background-color: var(--blue);
    color: white;
    font-weight: 600;
    margin: 10px 0;
}
.form-box p{
    color: red;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}
.copy-alert {
    position: absolute;
    color: white;
    bottom: 30px;
    left: 130px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity:0;
    height: 30px;
    width: 150px;
    display: grid;
    place-items: center;
    transition: 0.3s;
    border-radius: 10px;
}
.copy-alert.copied{
    opacity: 1;
    transform: translateY(-40px)
}
.deposit-info {
    background-color: var(--offwhite);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px; 
    border-radius: 5px;
    border: 2px solid var(--blue);
}
.deposit-info p {
    background-color: red;
    color: white;
    font-size: 1.05rem;
    border-radius: 5px;
    padding: 2px 5px;
}
/* --------------------------------------------------TRADE PAGE------------------------------------------------------ */

.transactions .coin-pricing {
    border: 3px solid var(--blue);
    background-color: var(--offwhite);
    border-radius: 10px;
    margin-top: 100px;
    list-style: none;
    color: black;
    padding: 0 20px 5px;
    margin-right: 40px;
}
.transactions .coin-pricing h4 {
    font-size: 1.2rem;
    font-family: var(--roboto);
    margin-top: -5px;
}
.transaction .total-bal {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: -100px;
    width: 200px;
}
.transaction .total-bal p {
    font-size: 1.3rem;
    text-align: center;
}
.transaction .total-bal span {
    color: var(--span-green);
}
.info2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
}
.info2 i {
    font-size: 3.5rem;
    margin-top: 30px;
    margin-left: -10px;
}
#price,
#price .fa-dollar-sign {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-right: 10px;
}

#percent {
    margin-top: -12px;
    font-size: 0.99rem;
    margin-left: 40px;

}
#tag{
    margin-left: 50px;
}
.btc-icon { 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    height: 100%;
    width: 100px;
}
.btc-icon p {
    margin:  20px 10px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: var(--roboto);
}
.coin-pricing .info2 h4 {
    font-size: 1.2rem;
    font-family: var(--roboto);
    margin-top: 15px;
}
.price{
    margin-right: -10px;
}
.transactions .trade-info {
    width: 100%;
    color: white;
    padding: 0 30px;
}
.trade-info .analysis {
    border: 3px solid var(--blue);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--offwhite);
    color: black;
}
.analysis h3{
    font-size: 1.3rem;
    font-family: var(--times);
}
.analysis ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
.analysis ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.15rem;
    font-family: var(--roboto);
    width: 100%;
}
.analysis ul li span {
    font-size: 0.99rem;
    font-weight: 600;
    color: var(--blue);
}
.transactions .Auto-trade {
    display: flex;
    background-color: var(--offwhite);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 3px solid var(--blue);
    width: 340px;
    padding: 5px;
    color: black;
}
/*--------------------------------------------------WITHDRAW-REQUEST PAGE------------------------------------------------------ */
.withdraw-form-wrapper{
    position: relative;
    padding: 10px 30px;
    color: black;
    transition: 0.3s;
}
.withdraw-form {
    margin: 100px 0;
    position: relative;
}
.withdraw-form .withdraw-input-box {
    position: relative;
    margin-bottom: 30px; 
}
.withdraw-input-box input {
    font-size: 1.05rem;
    font-family: var(--roboto);
    padding: 10px 15px 5px;
    color: black;
    height: 50px;
    background-color: var(--offwhite);
    border: 2px solid var(--blue);
    border-radius: 10px;
    margin: 5px 0;
}
#address {
    background-color: transparent;
    width: 100%;
    color: white;
    font-size: 1.15rem;
}
.withdraw-input-box .form-control {
    border: 2px solid var(--blue);
    border-radius: 10px;
    background-color: var(--offwhite);
    color: black; 
}

.withdraw-input-box label {
    position: absolute;
    top: 12px;
    left: 25px;
    color: black;
    font-family: var(--roboto);
    font-size: 1.1rem;
    background-color: transparent;
    padding: 0 7px;
    transition: 0.3s;

}

.withdraw-input-box input:focus~label,
.withdraw-input-box input:valid~label {
    top: -25px;
    left: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.withdraw-form .alert {
    background-color: red;
    text-align: center;
    color: white;
    font-size: 1rem;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;
    font-style: italic;
    font-family: var(--roboto);
}

.withdraw-form .next-btn {
    display: grid;
    place-items: center;
    padding: 25px 0;
}
.next-btn .btn {
    background-color: var(--blue);
    color: white;
    width: 130px;
    font-family: var(--roboto);
    font-size: 1.1rem;
    border: 3px solid var(--offwhite);
    border-radius: 10px;
    transition: 0.3s;
}
.next-btn .btn:hover {
    background-color: var(--offwhite);
    color: black;
    transform: scale(1.05);
}
#float {
    color: red;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -20px;
    transition: 0.3s;
    font-style: italic;
    display: none;
}
/* --------------------------------------------------WITHDRAW PAGE--------------------------------------- */
.pwd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    color: black;
    border: 3px solid var(--offwhite);
    border-radius: 20px;
    z-index: 4;
    padding: 0px 20px 20px;
}
.pwd-wrapper .details {
    min-width: 340px;
    height: 350px;
    transition: 0.5s;
}

.pwd-wrapper .details span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    margin-bottom: 10px;
}
.pwd-wrapper .details span h3{
    font-size: 1.5rem;
}
.pwd-wrapper .details span i{
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 1.5rem;
    transition: 0.3s;
}
.pwd-wrapper .details span i:hover{
    transform: scale(1.30);
}
.pwd-wrapper .detail-box {
    display: flex;
    align-items: center;
    width: 370px;
    background-color: var(--offwhite);
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
    color: black;
}
.pwd-wrapper .detail-box ul {
    width: 100%;
    padding-left: 0;
}
.pwd-wrapper .detail-box li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
.pwd-wrapper .alert {
    background-color: red;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    height: 50px;
    width: 300px;
    margin: -15px auto 20px;
    font-weight: 500;
    border-radius: 10px;
    font-family: var(--roboto);
}
.pwd-wrapper  .cta-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pwd-wrapper .btn{
    width: 250px;
    color: black;
    border-radius: 20px;
    font-family: var(--roboto);
    background-color: var(--offwhite);
    font-weight: 600;
}
.password-input {
    background-color: var(--offwhite);
    backdrop-filter: blur(10px);
    position: absolute;
    transform: translateY(400px);
    width: 95%;
    transition: 0.5s;
    z-index: 4;
    border-radius: 15px;
    opacity: 0;
}
.password-input input{
    width: 320px;
    margin: 35px auto;
}
.password-input .withdraw-input-box input~label{
    top: 50px;
    left: 40px;
    color: black;
    font-weight: 600;
}
.password-input .withdraw-input-box input:focus~label,
.password-input .withdraw-input-box input:valid~label{
    color: black;
    top: 10px;
    left: 35px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.password-input.active {
    transform: translateY(-50px);
    min-width: 340px;
    opacity: 1;
}
.password-input .btn {
    background-color: var(--blue);
    color: white;
    margin-bottom: 50px;
}
.spinner-border {
    z-index: 5;
    position: absolute;
    display: none;
}

.pop-up {
    background-color: var(--blue);
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    z-index: 6;
    left: 25px;
    border: 2px solid black;
    width: 350px;
    height: 200px;
    transform: scale(0);
    transition: 0.1s;
}
.pop-up.alert {
    background-color: var(--offwhite);
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    z-index: 6;
    left: 25px;
    color: black;
    border: 2px solid var(--blue);
    width: 350px;
    height: 200px;
    transition: 0.3s;
    transform: scale(1);
}
.pop-up h4 {
    font-family: var(--roboto);
    font-size: 1.5rem;
    margin-top: 20px;
}
.pop-up-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px ;
}
.pop-up-btn .btn{
    width: 100px;
    background-color: var(--blue);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.3s;
}
.pop-up-btn .btn:hover{
    background-color: black;
    color: white;
}


/* ------------------------------SETTINGS PAGE-------------------------------- */

.Account-setting {
    position: relative;
    height: 100px;
    background-color: var(--blue);
    color: white;
    display: flex;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: var(--roboto);
}
.Account-setting .acct-name{
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 10px;
    font-weight: bold;
    color: black;
    margin-top: -20px;
}
.acct-name span,
.acct-name h4 {
    color: white;
    font-size: 1.2rem;
}
.Account-setting span{
    color: white;
}
.Account-setting .nav{
    display: flex;
    justify-items: space-between;
    align-items: center;
    position: absolute;
    top: 3px;
    right: 5px;
    padding-right: 5px;
}

.Account-setting .details{
    display: flex;
    height: 90px;
    color: white ;
    position: absolute;
    top: 50px;
    right: 12px;
    background-color: black;
    border: 2px solid silver;
    border-radius: 20px;
    width: 94%;
    padding: 10px 20px 15px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Account-setting .details .balance span{
    color: gold;
}
.Account-setting .details h5{
    font-size: 1.27rem;
}
.Account-setting .details  p{
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;

}


.Account-setting .details .transaction{
    position: absolute;
    right: 10px;
}

.setting-wrapper {
    margin: 12vh;
    height: 85vh;
}
.setting-links {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    padding-left: 10px;
}
.setting-links ul {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.setting-links ul li{
    list-style: none;
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 350px;
    background-color:var(--offwhite);
    border: 2px solid var(--blue) ;
    border-radius: 10px;
    transition: 0.3s;
    padding-left: 20px;
}

.setting-links ul  a{
    text-decoration: none;
    font-size:  1.1rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.setting-links ul li:hover {
    transform: scale(1.03);
    background-color: var(--blue);
    color: white;
}
.setting-links .btn{
    font-weight: 600;
}
.setting-links a .btn:hover{
    color: white;
}
#bronze,
#silver,
#gold{
    display: grid;
    place-items: center;
    border-radius: 10px;
    width: 100px;
    margin: auto;
}
#bronze{
    background-color: rgb(133,82,0);
    color: white
}
#silver{
    background-color: rgb(222, 221, 221);
    color: black;
}
#gold {
    color: white;
    background-color: rgb(205, 175, 7);
}
    .Security-form{
        width: 350px;
        padding: 10px 20px;
        min-height: 200px;
        background-color: var(--blue);
        color: white;
        border-radius: 10px;
        transition: 0.3;
        transform: translateY(-100px);
        display: none;
    }
    .Security-form .action-btn{
        display: flex;
        justify-content: flex-end;
    }
    .Security-form .btn{
        background-color: var(--offwhite);
        color: black;
    }
    .Security-form.active{
        width: 350px;
        padding: 10px 20px;
        min-height: 200px;
        background-color: var(--blue);
        color: white;
        border-radius: 10px;
        display: block;
        transform: translateY(0);
    }
    .profile-settings{
        background-color: var(--offwhite);
        color: black;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-bottom: 40px;
    }
    .email-verify p{
        margin-top: 15px;
    }
    .email-verify span {
        background-color: rgba(114, 114, 114, 0.438);  
        padding: 2px 10px;
        border-radius: 50px;
        color: rgb(3, 77, 3);
    }
    .email-verify:hover span{
        color: white;
        background-color: rgba(236, 236, 236, 0.438);  
        cursor: pointer;
    }
    .email-msg {
        color: white;
        background-color: rgb(3, 77, 3);
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        bottom: 30px;
        opacity: 0;
        transition: 0.3s;
    }
    .email-msg.active {
        bottom: 150px;
        opacity: 1;
    }
}