{% extends 'trade-activation.html' %}

{% block image %}
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWXrVBO6C3PhCeT7arYdavnwx6MRZWgVfL-g&s" style="height: 150px; width: 100%;">
{% endblock %}

{% block sub_heading %}
<div class="sub-heading" style="font-weight: 600; text-align: center; font-size: 1.1rem;">
    Welcome to TradeNest
</div>
{% endblock %}

{% block msg %}
<div class="msg" style="text-align: center; font-weight: 500;">
        Dear {{usr}}, we are thrilled to have you join us!. Our mission
        at TradeNestXchange is to save your funds while trading and investing at the same time.
        Please visit your profile to verify your email to complete your account registration 
        and be eligible to Cash out your profits and equity
    <div class="happy-trading" style="text-align: center; margin-top: 10px; font-size: 1.3rem;">
        Happy Trading!
    </div>
</div>
{% endblock %}
{% block footer %}
    <div style="padding: 2px 0; text-align: center; font-style: italic;">
        <p>if you have more question, please contact us through our customer care.<br/>
            Thank your for choosing TradeNest!
        </p>
    </div>
{% endblock %}
