{% extends 'AdminBase.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %} 

<!-- ------------------------------------DASHBOARD TAB-------------------------------------------> 
<div class="dashboard-box  {% if active_page != 'Overview' %}{% else %} online {% endif %}">
    <div class="overflow-box">
        
        <div class="heading">
            <h3>Overview</h3>
        </div>
        <div class="dash-info">
            <div class="row">
                <div class="col">
                    <div class="overview">
                        <h5>Total Income</h5>
                        <h3><i class="fa-solid fa-dollar-sign"></i> {{income}}</h3>
                    </div>
                    
                </div>
                <div class="col">
                    <div class="overview">
                        <h5>Total Payouts</h5>
                        <h3><i class="fa-solid fa-dollar-sign"></i> {{payouts}}</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="overview">
                        <h5>Total Profit</h5>
                        <h3><i class="fa-solid fa-dollar-sign"></i> {{profit}}</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="overview">
                        <h5> Number of Clients</h5>
                        <h3>{{number_of_users}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading">
            <h3>Email Service</h3>
        </div>

        <div class="mail-box">
            <div class="mail-form">
                <form method="POST">
                    <input type="hidden" name="form-type" value="Dash-mail-form">
                    <div class="mail-header">
                        <h4>Email Service</h4>
                        <div class="recepient-box">
                            <label for="recepient">Recepient</label>
                            <input type="text" name="recepient-mail" class="form-control" placeholder="Recepient email address or All users" id="recepient" required>
                        </div>
                    </div>
                    <div class="mail-components">
                        <label for="mail-title"> Title</label> 
                        <input type="text" name="mail-title" class="form-control" id="mail-title" placeholder="Title of email">
                        <label for="mail-body">Message</label>
                        <textarea type="text" name="mail-body" class="form-control" id="mail-body"></textarea>
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="btn">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<!------------------------------------USERS TAB------------------------------------------->
<div class="users-tab {% if active_page == 'UserTab' %} online {% else %} {% endif %}">
    
    <div class="delete-note">
        <div class="warning">
            <p>
                This action will delete everything about this user<br>
                <span id="userName">username</span><br>
                The data cant be recovered. Do you wish to continue?
            </p>
            <div class="action-btn">
                <button type="button" class="btn bg-danger" onclick="abortDelete()">No</button>
                <button type="button" class="btn bg-primary" onclick="continueDelete()">Yes</button>
            </div>
        </div>
    </div>

    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="search-bar" placeholder="Search User by Email or name">
    </div>
    <div class="user-container ">
        
        <div class="users-table">
            <div class="table-heading">
                <h5>Users</h5>
                <h5>{{active_user}} Active users</h5>
            </div>
            <div class="users">
                <div class="user-list">
                    <ul>
                        {% for client in clients %}
                        <li class="user">
                            <div class="pl-3">
                                <h5 class="pt-3">{{client.First_name}} {{client.Last_name}}
                                    {% if  client.is_verified == True %}
                                    <i class="fa-solid fa-circle-check text-success"></i></span>
                                    {% endif %}
                
                                </h5>
                           
                            
                                <p><i>{{client.Email}}</i></p>
                            </div>
                            <div class="action-btn">
                                <button type="button" class="btn btn-danger" onclick="deleteNote('{{client.id}}' , '{{client.First_name}}', '{{client.Last_name}}')" id="deleteBtn">Delete</button>
                                <button type="button" class="btn btn-primary" onclick="getUser({{client.id}})"> Details </button>
                                <button type="button" class="btn btn-success" onclick="setTrade({{client.id}})"> Trade</button>
                            </div>
                        </li> 
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

            
        <div class="card-information">
            <div class="table-heading">
                <h5 id="username">Username</h5>
            </div>
            <div class="information-container">
                <form method="POST">
                    <input type="hidden" name="form-type" value="User-form">
                    <div class="card-components">
                        <div class="form-group">
                            <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" id="email">
                            <label for="sub-plan">Subscription</label>
                                <input type="text" class="form-control" name="sub-plan" id="sub-plan">
                        </div>
                        <div class="form-group">
                            <label for="phone_no">Phone number</label>
                                <input type="text" class="form-control" id="phone_no" readonly>
                            
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="True" id="active">Active
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="unactive" value="false">Inactive
                                    </label>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="balance">Balance</label>
                                <input type="text" class="form-control" name="balance" id="balance">
                            <label for="avail-balance">Avail-Balance</label>
                                <input type="text" class="form-control" name="avail-balance" id="avail-balance">
                            <label for="total-bal">Earnings</label>
                                <input type="text" class="form-control" id="total-bal" readonly>
                        </div> 
                        <div class="form-group">
                            <label for="date">Date joined:</label>
                            <label id="usr-date"></label>
                        </div>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-primary">Update user</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    
     <div class="user-trade">

        <div class="card-information  mr-5 ml-1">
            <div class="table-heading">
                    <h5 id="username">Username</h5>
                    <h5 id="subscription-plan" class="mt-2 mr-5">Subscription</h5>
            </div>
            <div class="information-container">
                <form method="POST">
                    <input type="hidden" name="form-type" value="Trade-form">
                    <input type="hidden" name="usr-id" id="usr-id">
                    <div class="card-components">
                        <div class="form-group">
                            <label for="amount">Amount</label>
                                <input type="text" class="form-control" name="amount" id="trade-amount">
                            <label for="profit">Profit</label>
                                <input type="text" class="form-control" name="profit" id="profit">
                        </div>
                    
                        <div class="form-group">
                            <label for="balance">Balance</label>
                                <input type="text" class="form-control" id="trade-balance" readonly>
                            <label for="duration">Duration</label>
                                <input type="text" class="form-control" name="duration" id="duration">
                        </div> 
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-success">Activate trade</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="users-table">
            <div class="table-heading">
                <h5>Trades</h5>
            </div>
            <div class="users">
                <div class="user-list inactive">
                    {% for trade in Trades %}
                        <ul>
                            <li class="user bg-dark text-white">
                                <div class="trade-info">
                                    <input type="hidden" class="trade-usr-id" value="{{trade.user_id}}">
                                    <div class="general-info">
                                        <div class="equity-profit">
                                            <label class="mr-5"> <span>Equity</span>: {{trade.Amount}}</label>
                                            <label class="ml-5"><span>Profit</span>: {{trade.Profit}}</label>
                                        </div>
                                        <div class="lot-date">
                                            <label class="mr-5"> <span>Lot size</span>: {{trade.Lot_size}}</label>
                                            <label class="ml-5"><span>Duration</span>: {{trade.Duration}} days</label>
                                        </div>
                                    </div>
                                    <div class="date">
                                        <label><span>Date of trade</span>: <span class="dates text-white">{{trade.Date}}</span></label>
                                    </div>
                                </div>
                                <button type="button" onclick="closeTrade({{trade.id}})" class="btn btn-danger">Close</button>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div> 
    
</div>

 <!--------------------------------------------COMMENTS TAB---------------------------------------------------->
<div class="comments-tab {% if active_page == 'CommentTab' %} online {% else %} {% endif %}">
    <div class="comment-information">
        <div class="heading">
            <h3> Users Comments </h3>
        </div>
    </div>
    <div class="comments">
        {% if number_of_comments == 0 %}
            <div class="no-request">
                <h5>No comments at the moment</h5>
            </div>
        {% else %}
             {% for comment in comments|reverse %}
            
                <div class="card-information">
                    <div class="table-heading">
                        <h5>From: {{comment.User_name}}</h5>
                    </div>
                    <div class="information-container">
                        <p class="email"><i>Email: {{comment.Email}}</i></p>
                            <div class="card-components">
                                <div class="comment-body">
                                    <p>{{comment.Comment}}</p>
                                </div>
                            </div>
                            <div class="comment-btn">
                                <div class="date">
                                    <h5 class="dates">Date of comment: {{comment.Date}}</h5>
                                </div>
                                <button type="button" class="btn btn-danger" onclick="DeleteComment({{comment.id}})" >Delete comment</button>
                            </div> 
                    </div>            
                </div>

            {% endfor %}
        {% endif %}
    </div> 
</div>
    
<!-----------------------------------------------------------POST TAB---------------------------------------------------------------------->

<div class="post-tab {% if active_page == 'PostTab' %} online {% else %} {% endif %}">
    
    <div class="heading">
        <h3>Post a Notice</h3>
    </div>
    
    <div class="container">
        <div class="post-container mt-1">
        <div class="card-information">
            <div class="table-heading">
            </div>
            <form method="post">
                <input type="hidden" name="form-type" value="post-form">
                <div class="information-container">
                    <div class="card-components">
                        <div class="form-group">
                            <label for="post-title">Title</label>
                                <input type="text" class="form-control" name="post-title" id="post-title">
                        </div>
                            <label for="phone_no">Message</label>
                                <textarea type="text" class="form-control" name="post-body" id="msg"></textarea>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-primary">Post Notice</button>
                    </div>
                </div>
            </form>
        </div>
        {% for post in posts|reverse %}
            <div class="card-information ">
                <div class="table-heading">
                    <h5>{{post.Title}}</h5>
                </div>
                <div class="card-components m-2">
                    <div class="information-container pl-3">
                        <p>{{post.Message}}</p>
                    </div>
                </div>
                <div class="action-btn">
                    <div class="date mr-5"> <span class="dates text-dark">{{post.Date}}</span></div>
                    <button type="button" class="btn btn-danger mb-2" onclick="deletePost({{post.id}})">delete post</button>
                </div>
            </div>
        {% endfor %}
        <div class="scroll">

        </div>
        </div>
    </div> 
    


</div>   
    
<!-- ----------------------------------------------------------------DEPOSIT TAB--------------------------------------------> 

<div class="deposit-tab {% if active_page == 'DepositTab' %} online {% else %} {% endif %}">
        
    <div class="heading">
        <h3>Deposit Requests</h3>
    </div>
        
    <div class="request-count">
        <h5 align="center"> Number of Request: {{number_of_deposits}}</h5>
    </div>

    <div class="comments">
        
        <div class="container">
            {% if number_of_deposits == 0 %}
                <div class="no-request">
                    <h5>No deposit requests at the moment</h5>
                </div>
            {% else %}
                {% for deposit in deposit_details|reverse %}
                <div class="card-information">
                    <div class="table-heading">
                        <h5 class="dates">{{deposit.Date}}</h5>
                    </div>
                    <div class="information-container">
                        <div class="card-components">
                            <h4 class="deposit_msg">
                            User: <span class="text-success">{{deposit.Username}}</span> with email <span class="text-secondary">{{deposit.Email}}</span> is attempting to make a Deposit
                            of amount <span class="text-success">{{deposit.Amount}} USD</span></h4>
                        </div>
                        <div class="action-btn">
                            <button type="button" class="btn btn-danger mr-5" onclick="Delete({{deposit.id}})">Delete</button>
                            <button type="button" class="btn btn-success" onclick="Approve({{deposit.id}})">Approve</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>


<!-- ----------------------------------------------------------------WITHDRAWAL TAB-------------------------------------------- -->

<div class="withdrawal-tab {% if active_page == 'WithdrawalTab' %} online {% else %} {% endif %}">
    <div class="heading">
        <h3> Withdrawal Requests</h3>
    </div>

    <div class="request-count">
        <h5 align="center"> Number of Requests: {{number_of_requests}}</h5>
    </div>
    <div class="user-container">

            <div class="users-table">
                <div class="users">
                    <div class="user-list">
                        {% if number_of_requests == 0 %}
                            <div class="no-request">
                                <h4>No withdrawal requests</h4>
                            </div>
                        {% else %}
                            <ul>
                                {% for transaction in transaction_details %}
                                    <li class="user">
                                        <div class="name">
                                            <h5>{{transaction.Title}}</h5>
                                        </div>
                                        <div class="email">
                                            <p>Amount: <i>{{transaction.Amount}}</i></p>
                                        </div>
                                        <div class="fee">
                                            <p>Fees: {{transaction.Fee}}</p>
                                        </div>
                                        <button type="button" class="btn btn-primary" onclick="getTransaction({{transaction.id}})"> Details </button>
                                    </li> 
                                {% endfor %}
                            </ul>
                        {% endif %} 
                    </div>
                </div>
            </div>
            
        <div class="card-information">
            <div class="table-heading">
                <h5 id="username">Username</h5>
                <h5 id="usr-email">Email</h5>
            </div>
            <div class="information-container">
                <form method="POST">
                    <input type="hidden" name="form-type" value="withdrawal-form">
                    <input type="hidden" id="id" name="transaction-id">
                    <div class="card-components">
                        <div class="form-group">                            
                            <label for="avail-balance">Avail-Balance</label>
                                <input type="text" class="form-control" name="avail-balance" id="with-avail-balance"  readonly>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="pending" checked>Pending
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="success" value="Success">Success
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="denied" value="Denied">Denied
                                    </label>
                                </div>
                        </div>
                        <div class="form-group">
                            <label>Wallet</label>
                            <input type="text" class="form-control" name="wallet" id="wallet" readonly>
                        </div>
                        <div class="form-group">
                            <label for="balance">Amount</label>
                                <input type="text" class="form-control" name="amount" id="amount" readonly>
                            
                            <label for="total-bal">Fee</label>
                                <input type="text" class="form-control" id="fee" readonly>
                        </div> 
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="text" class="form-control" id="with-date" readonly>
                        </div>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}