{% extends 'AdminBase.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %} 

<!-- ------------------------------------DASHBOARD TAB-------------------------------------------> 
<div class="dashboard-box">
    <div class="overflow-box">
        
        <div class="heading">
            <h3>Overview</h3>
        </div>
        <div class="dash-info">
            <div class="row">
                <div class="col">
                    <div class="overview">
                        <h5>Total Income</h5>
                        <h3><i class="fa-solid fa-dollar-sign"></i> 12,000</h3>
                    </div>
                    
                </div>
                <div class="col">
                    <div class="overview">
                        <h5>Total Payouts</h5>
                        <h3><i class="fa-solid fa-dollar-sign"></i> 12,000</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="overview">
                        <h5>Total Profit</h5>
                        <h3><i class="fa-solid fa-dollar-sign"></i> 12,000</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="overview">
                        <h5> Number of Clients</h5>
                        <h3>12,000</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="heading">
            <h3>Email Service</h3>
        </div>

        <div class="mail-box">
            <div class="mail-form">
                <form method="POST">
                    <input type="hidden" name="form-type" value="Dash-mail-form">
                    <div class="mail-header">
                        <h4>Email Service</h4>
                        <div class="recepient-box">
                            <label for="recepient">Recepient</label>
                            <input type="text" name="recepient-mail" class="form-control" placeholder="Recepient email address or All users" id="recepient" required>
                        </div>
                    </div>
                    <div class="mail-components">
                        <label for="mail-title"> Title</label> 
                        <input type="text" name="mail-title" class="form-control" id="mail-title" placeholder="Title of email">
                        <label for="mail-body">Message</label>
                        <textarea type="text" name="mail-body" class="form-control" id="mail-body"></textarea>
                    </div>
                    <div class="submit-btn">
                        <button type="submit" class="btn">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!------------------------------------USERS TAB------------------------------------------->
<div class="users-tab">

    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="search-bar" placeholder="Search User by Email or name">
    </div>

    <div class="user-container">
        
        <div class="users-table">
            <div class="table-heading">
                <h5>Users</h5>
                <h5>{{active_user}} Active users</h5>
            </div>
            <div class="users">
                <div class="user-list">
                    <ul>
                        {% for client in clients %}
                        <li class="user">
                            <div class="name">
                                <h5>{{client.First_name}} {{client.Last_name}}</h5>
                            </div>
                            <div class="email">
                                <p><i>{{client.Email}}</i></p>
                            </div>
                            <button type="button" class="btn" onclick="getUser({{client.id}})"> Details </button>
                        </li> 
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

            
        <div class="card-information">
            <div class="table-heading">
                <h5 id="username">Username</h5>
            </div>
            <div class="information-container">
                <form method="POST">
                    <input type="hidden" name="form-type" value="User-form">
                    <div class="card-components">
                        <div class="form-group">
                            <label for="email">Email</label>
                                <input type="text" class="form-control" name="email" id="email">
                            <label for="sub-plan">Subscription</label>
                                <input type="text" class="form-control" name="sub-plan" id="sub-plan">
                        </div>
                        <div class="form-group">
                            <label for="phone_no">Phone number</label>
                                <input type="text" class="form-control" id="phone_no" readonly>
                            
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="True" id="active">Active
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="unactive" value="false">Inactive
                                    </label>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="balance">Balance</label>
                                <input type="text" class="form-control" name="balance" id="balance">
                            <label for="avail-balance">Avail-Balance</label>
                                <input type="text" class="form-control" name="avail-balance" id="avail-balance">
                            <label for="total-bal">Total balance</label>
                                <input type="text" class="form-control" id="total-bal" readonly>
                        </div> 
                        <div class="form-group">
                            <label for="date">Date joined</label>
                            <input type="text" class="form-control" id="date" readonly>
                        </div>
                    </div>
                    <div class="action-btn">
                        <button type="button" class="btn btn-danger" id="deleteBtn">Delete user</button>
                        <button type="submit" class="btn btn-primary">Update user</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

 <!--------------------------------------------COMMENTS TAB---------------------------------------------------->
<div class="comments-tab">
    <div class="comment-information">
        <div class="heading">
            <h5> Users Comments </h5>
        </div>
    </div>
    <div class="comments">
        
        <div class="card-information">
            <div class="table-heading">
                <h5>From: Okonkwo Precious</h5>
            </div>
            <div class="information-container">
                <p class="email"><i>Email: precious@gmail.com</i></p>
                    <div class="card-components">
                        <div class="comment-body">
                            <p>"The vibrant colors and dynamic composition truly bring this artwork to life. The artist's meticulous attention to detail is evident,
                                creating a captivating visual experience. The interplay of light and shadow adds depth, making each element pop. It's a masterpiece
                                that seamlessly</p>
                        </div>
                    </div>
                    <div class="comment-btn">
                        <div class="date">
                            <h5>Date of comment: 12 feb 2024</h5>
                        </div>
                        <button type="button" class="btn btn-danger" id="deleteBtn">Delete comment</button>
                    </div> 
            </div>            
        </div>

        <div class="card-information">
            <div class="table-heading">
                <h5>From: Okonkwo Precious</h5>
            </div>
            <div class="information-container">
                <p class="email"><i>Email: precious@gmail.com</i></p>
                    <div class="card-components">
                        <div class="comment-body">
                            <p>"The vibrant colors and dynamic composition truly bring this artwork to life. The artist's meticulous attention to detail is evident,
                                    creating a captivating visual experience. The interplay of light and shadow adds depth, making each element pop. It's a masterpiece
                                    that seamlessly</p>
                        </div>
                    </div>
                    <div class="comment-btn">
                        <div class="date">
                            <h5>Date of comment: 12 feb 2024</h5>
                        </div>
                        <button type="button" class="btn btn-danger" id="deleteBtn">Delete comment</button>
                    </div>
            </div>
        </div>

        <div class="card-information">
            <div class="table-heading">
                <h5>From: Okonkwo Precious</h5>
            </div>
            <div class="information-container">
                <p class="email"><i>Email: precious@gmail.com</i></p>
                    <div class="card-components">
                        <div class="comment-body">
                            <p>"Captivating and insightful, your words weave a tapestry of wisdom that resonates deeply. A pleasure to read and reflect upon."</p>
                        </div>
                    </div>
                    <div class="comment-btn">
                        <div class="date">
                            <h5>Date of comment: 12 feb 2024</h5>
                        </div>
                        <button type="button" class="btn btn-danger" id="deleteBtn">Delete comment</button>
                    </div>
            </div>
        </div>
    </div> 
</div>
    
<!-----------------------------------------------------------POST TAB---------------------------------------------------------------------->

<div class="post-tab">
    
    <div class="heading">
        <h3>Post a Notice</h3>
    </div>
    
    <div class="container">
        <div class="card-information">
            <div class="table-heading">
            </div>
            <form method="post">
                <input type="hidden" name="form-type" value="post-form">
                <div class="information-container">
                    <div class="card-components">
                        <div class="form-group">
                            <label for="post-title">Title</label>
                                <input type="text" class="form-control" name="post-title" id="post-title">
                        </div>
                            <label for="phone_no">Message</label>
                                <textarea type="text" class="form-control" name="post-body" id="msg"></textarea>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-primary">Post Notice</button>
                    </div>
                </div>
            </form>
        </div>
    </div> 

</div>   
    
<!-- ----------------------------------------------------------------DEPOSIT TAB--------------------------------------------> 

<div class="deposit-tab">
        
    <div class="heading">
        <h3>Deposit Requests</h3>
    </div>
        
    <div class="request-count">
        <h5 align="center"> Number of Request: 3</h5>
    </div>

    <div class="comments">
        
        <div class="container">
            <div class="card-information">
                <div class="table-heading">
                    <h5>From: Ekene Destiny</h5>
                </div>
                <div class="information-container">
                    <div class="card-components">
                        <ul>
                            <li class="deposit-list">
                                Amount: 200 USD
                            </li>
                            <li class="deposit-list">
                                Email: <i> Ekenedestiny@gmail.com </i>
                            </li>
                            <li class="deposit-list">
                                Date: 24 feb 2024
                            </li>
                        </ul>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-success">Appprove</button>
                    </div>
                </div>
            </div>
                <div class="card-information">
                    <div class="table-heading">
                        <h5>From: Ekene Destiny</h5>
                    </div>
                    <div class="information-container">
                        <div class="card-components">
                            <ul>
                                <li class="deposit-list">
                                    Amount: 200 USD
                                </li>
                                <li class="deposit-list">
                                    Email: <i> Ekenedestiny@gmail.com </i>
                                </li>
                                <li class="deposit-list">
                                    Date: 24 feb 2024
                                </li>
                            </ul>
                        </div>
                        <div class="action-btn">
                            <button type="submit" class="btn btn-success">Appprove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- ----------------------------------------------------------------WITHDRAWAL TAB-------------------------------------------- -->

<div class="withdrawal-tab online">
    <div class="heading">
        <h3> Withdrawal Requests</h3>
    </div>

    <div class="request-count">
        <h5 align="center"> Number of Requests: {{number_of_requests}}</h5>
    </div>
    <div class="user-container">

        <div class="comments">

            <div class="card-information">

                <div class="table-heading">
                    <h5>From: Okonkwo Precious</h5>
                    <h5>Available Balance: 200USD</h5>
                </div>

            
        <div class="card-information">
            <div class="table-heading">
                <h5 id="username">Username</h5>
                <h5 id="usr-email">Email</h5>
            </div>
            <div class="information-container">
                <form method="POST">
                    <input type="hidden" name="form-type" value="withdrawal-form">
                    <input type="hidden" id="id" name="transaction-id">
                    <div class="card-components">
                        <div class="form-group">                            
                            <label for="avail-balance">Avail-Balance</label>
                                <input type="text" class="form-control" name="avail-balance" id="avail-balance" readonly>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="pending" checked>Pending
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="success" value="Success">Success
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" id="denied" value="Denied">Denied
                                    </label>
                                </div>
                        </div>
                        <div class="form-group">
                            <label>Wallet</label>
                            <input type="text" class="form-control" name="wallet" id="wallet" readonly>
                        </div>
                        <div class="form-group">
                            <label for="balance">Amount</label>
                                <input type="text" class="form-control" name="amount" id="amount" readonly>
                            
                            <label for="total-bal">Fee</label>
                                <input type="text" class="form-control" id="fee" readonly>
                        </div> 
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="text" class="form-control" id="date" readonly>
                        </div>
                    </div>
                    <div class="action-btn">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="comments">
            <!-- {% for transaction in transaction_details|reverse %}
            <div class="card-information 
               }">

                <div class="table-heading">
                    <h5>From: {{transaction.Username}}</h5>
                    <h5>Available Balance: {{transaction.User_avail_balance}}USD</h5>
                </div>

                        
                <div class="information-container">
                    <form method="POST">
                        <input type="hidden" name="form-type" value="withdrawal-form">
                        <input type="hidden" name="transaction-id" value="{{transaction.id}}">
<input type="hidden" id="avail-bal" value="{{transaction.User_avail_balance}}">

                        <div class="card-components">
        
                            <div class="form-group">
                                <label>Amount</label>
                                    <input type="text" id="amt" class="form-control info" name="amount" value='{{transaction.Amount}}' readonly>
                                <label>Fee</label>
                                    <input type="text" id="fee" class="form-control info" name="fee" value='{{transaction.Fee_charge}}' readonly>
                                <label>Balance</label>
                                    <input type="text" class="form-control info" name="balance" value="{{transaction.User_balance}}" readonly>
                            </div> 
                            <div class="form-group">
                                <label>Wallet</label>
                                <input type="text" class="form-control" name="wallet" id="wallet" value='{{transaction.Wallet}}' readonly>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <select class="form-control" id="status"  name="status" required>
                                        <option>Pending</option>
                                        <option>Success</option>
                                        <option>Denied</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <h5>Date of request: {{transaction.Date}}</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="action-btn">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
            {% endfor %} -->
        </div>
    </div>
</div>
{% endblock %}