<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:400,700&display=swap">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="style"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
  <link 
    rel="stylesheet"
    href="{{url_for('static', filename='css/AdminStyle.css')}}"
  />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">
  <script src="https://kit.fontawesome.com/044032d169.js" crossorigin="anonymous"></script>

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} {% if category ==
          'error' %}
          <div class="alert alert-danger alter-dismissable fade show message" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alter-dismissable fade show message" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% endfor %} {% endif %} {% endwith %}
    
    <header>
        <nav>
            <ul class="nav-links">
                <div class="space"></div>                
                <li class="tab active" id="dashboard">
                    <a href="#">
                        <div class="icon">
                            <i class="fa-solid fa-chart-simple"></i>
                            <h6 class="text">Dashboard
                            </h6>
                        </div>
                    </a>
                </li>
                <li class="tab" id="users">
                    <a href="#">
                        <div class="icon">
                            <i class="fa-solid fa-users"></i>
                            <h6 class="text">Users
                            </h6>
                        </div>
                    </a>
                </li>
                <li class="tab" id="comments">
                    <a href="#">
                        <div class="icon">
                            <i class="fa-solid fa-comments"></i><h6 class="text">Comments
                            </h6>
                        </div>
                    </a>
                </li>
                <li class="tab" id="post">
                    <a href="#">
                        <div class="icon">
                            <i class="fa-solid fa-note-sticky"></i>
                            <h6 class="text">Posts
                            </h6>
                        </div>
                    </a>
                </li>
                <li class="tab" id="deposit">
                    <a href="#">
                        <div class="icon">
                            <i class="fa-solid fa-wallet"></i>
                            <h6 class="text">Deposits
                            </h6>
                        </div>
                    </a>
                </li>
                <li class="tab" id="withdrawal">
                    <a href="#">
                        <div class="icon">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <h6 class="text">Withdrawals
                            </h6>
                        </div>
                    </a>
                </li>
                <div class="tab-indicator"></div>
            </ul>
        </nav>
        
        
        <div class="content-area">
            <div class="title-bar">
                <div class="Admin-name">
                    <h5>Welcome, Admin <i class="fa-solid fa-circle-user"></i></h5>
                </div>
            </div>
            
            {% block content %}{% endblock %}
            
        </div>
    </header>

<script
src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"
></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"
></script>

<script
type="text/javascript"
src="{{ url_for('static', filename='javascript/Admin.js') }}"
defer></script>
</body>

</html>