{% extends "ProfileBase.html" %}
{% block title %} Deposit {% endblock %} 

{% block content %}
<div class="Account-info">
    <h3 align="center"> Top up Wallet </h3>
    <div class="details">
        <div class="balance">
            <h5> Balance </h5>
            <p>{{usr.Balance}}0 <span>USD</span></p>
        </div>
        <div class="transaction">
            <div class="total-bal">
                <h5> Earnings </h5>
                <p>{{usr.Earnings}} <span>USD</span></p>
            </div>
        </div>
    </div>
</div>

<section class="deposit-details">

    <div class="withdraw-form-wrapper">
        <div class="withdraw-form">
            <form method="POST">
                <div class="withdraw-input-box mb-1">
                    <input type="text" class="form-control"  name="amount" id="deposit-amount" required>
                        <label for="amount">Enter amount</label>
                </div>

                <div class="next-btn">
                    <button type='button' class="btn" onclick="proceedDeposit()" > Proceed </button>
                </div>
                <div class="deposit-info">
                    <h5>Fund your Trading account with Zero fees</h5>
                    <p><i>Please note that Deposits may take up to 24hours to reflect in your account balance</i></p>
                </div>
            </form>
        </div>
    </div>
    
    <div class="wrapper ">
        <div class="form-box">
                <h4>BTC Trading Address</h4>
                <div class="notice">
                <h3>This address can only recieve BTC on the Bitcoin Network</h3>
                <p> If another cryptocurrencey is sent to this address. The funds wont be recoverable</p>
            </div>
            <div class="address">
                <p id="deposit-address">{{btc.Wallet}}</p>
            </div>
            <button class="btn" id="copy" onclick="copyText({{usr.id}})">Copy <i class="fa-regular fa-copy"></i></button>
                <p><i>Ensure to copy the correct trading address to avoid lost of funds</i></p>
        </div>
    </div>
    
    <div class="bg-secondary pt-1 copy-alert">
        <p>wallet copied!</p>
    </div>
</section>
{% endblock %} 