{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<!------------------------------HERO SECTION---------------------------------->

<div class="hero">
    <div class="hero-text">
        <div class="content-1">
            <h1> <span>SECURE</span> AND EASY WAY OF <span>INVESTING BITCOIN</span>  </h1>
            <h2 class="cryptotab">TradeNest</h2>
            <h2 class="text"> A <span>BITCOIN EXCHANGE</span> YOU CAN <span>TRUST</span></h2>
        </div>
        <button class="btn hero-btn1 slideh1">Learn More</button>
        <a href="#" class="btn hero-btn2 slideh2">Watch a Video</a>
    </div>
    <div class="content-2">
        <h1><span>Invest</span> Your Money With <span>Higher With  Return</span></h1>
        <h2>With <span>TradeNest</span> Anyone Can <span>Invest</span> Money To Different <span>Currencies</span> </h2>
            <p>And Increase Their Earnings Online.</p>
    </div>
</div>

<!------------------------------OUR BENEFITS SECTION--------------------------------------->
<div class="benefits">
    <div class="heading">
        <h1>Our <span>Benefits</span></h1>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md indiv-col">
                    <i class="fa-solid fa-piggy-bank"></i>
                    <h2><span>COST</span> EFFICIENCY</h2>
                    <p> Reasonable trading fees and afforbable trading plans
                        for our clients and all market makers </p>
                </div>
                <div class="col-md indiv-col">
                    <i class="fa-solid fa-lock"></i>
                    <h2>SECURE <span>TRANSACTIONS</span></h2>
                    <p> Fortifying Transactions with Robust 
                        Security Measures for Unparalleled Financial
                        Safety and Trustworthiness.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md indiv-col">
                    <i class="fa-brands fa-cc-visa"></i>
                    <h2><span>PAYMENT</span> METHODS</h2>
                    <p>Diverse payment options available such as: Visa, Paypal,
                        Coinbase, Cashapp and external Crypto wallets.
                    </p>
                </div>
                <div class="col-md indiv-col">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <h2>AUTO-<span>TRADING</span></h2>
                    <p>Revolutionize your investments with seamless auto-trading,
                        maximizing profits and minimizing effort effortlessly. 
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------------------ROAD MAP SECTION----------------------------------------->

<div class="roadmap ">
    <div class="heading">
        <h1> Project <span>Road</span> Map</h1>
    </div>
    <div class="info-box">
        <div class="row">
            <div class="col-md">
                <i class="fa-solid fa-1"></i><h2>Sign-up and Get a Crypto Trading address.</h2>
            </div>
            <div class="col-md">
                <i class="fa-solid fa-2"></i><h2>Add coins to your Wallet with the available options.</h2>

            </div>
            <div class="col-md">
                <i class="fa-solid fa-3"></i><h2>Trade with you equity to earn more and grow you account</h2>
            </div>
        </div>
    </div>
</div>

<!----------------------------PRICING PLAN SECTION------------------------------------------->

<div class="heading">
    <h1> Our <span>Pricing</span> Plans</h1>
</div>
<div class="sub-head">
    <h2> Our subscription plans aim to provide educational resources and support</h2>
    <h3>We offer the best pricings</h3>
</div>
<div class="pricing-plan">
    <div id="beginner-plan" class="plans slide-beginner">
        <h2>BEGINNER / BRONZE</h2>
        <h3><span><i class="fa-solid fa-dollar-sign"></i>99.99/</span>Monthly</h3>
        <p><i class="fa-solid fa-check-double"></i> 24hours tech-support</p>
        <p><i class="fa-solid fa-check-double"></i> Limited withdrawal </p>
        <p><i class="fa-solid fa-check-double"></i> 30% profit per trade</p>
        <p><i class="fa-solid fa-check-double"></i> 5% withdraw fee</p>
        <div class="button">
            <button class="btn" onclick="relocate('bronze')">Choose Plan</button>
        </div>
    </div>
    <div id="standard-plan" class="plans fade-standard">
        <h2>STANDARD / SILVER</h2>
        <h3><span><i class="fa-solid fa-dollar-sign"></i>199.99/</span>Monthly</h3>
        <p><i class="fa-solid fa-check-double"></i> Weekly updates</p>
        <p><i class="fa-solid fa-check-double"></i> Limited withdrawal</p>
        <p><i class="fa-solid fa-check-double"></i> 35% profit per trade</p>
        <p><i class="fa-solid fa-check-double"></i> 7% withdraw fee</p>
        <p><i class="fa-solid fa-check-double"></i> 24hours tech-support</p>
        <div class="button">
            <button class="btn" onclick="relocate('silver')">Choose Plan</button>
        </div>
    </div>
    <div id="Advanced-plan" class="plans slide-advanced">
        <h2>ADVANCED / GOLD</h2>
        <h3><span><i class="fa-solid fa-dollar-sign"></i>499.99/</span>Monthly</h3>
        <p><i class="fa-solid fa-check-double"></i> Unlimited Withdrawal</p>
        <p><i class="fa-solid fa-check-double"></i> 40% profit per trade</p>
        <p><i class="fa-solid fa-check-double"></i> 10% withdraw fee</p>
        <p><i class="fa-solid fa-check-double"></i> 24hours tech-support</p>
        <div class="button">
            <button class="btn" onclick="relocate('gold')">Choose Plan</button>
        </div>
    </div>
</div>

<!----------------------------OUR SERVICES SECTION-------------------------------------------->

<div class="services">
    <div class="heading">
        <h1> Our <span>Services</span></h1>
    </div>
    <div class="row">
        <div class="col-md service box1">
            <div class="service-overlay">
                <h2>CRYPTO CURRENCY TRADING</h2>
            </div>
        </div>
        <div class="col-md service box2">
            <div class="service-overlay">
                <h2>WALLET SERVICES</h2>
            </div>        
        </div>
        <div class="col-md service box3">
            <div class="service-overlay">
                <h2>PORTFOLIO MANAGEMENT</h2>
            </div>        
        </div>
    </div>
</div>

<!------------------------------MEET OUR ADVISORS STARTS------------------------------------------->

<div class="team">
    <div class="heading">
        <h1>Meet <span>Our</span> Team</h1>  
    </div>
    <div class="sub-heading">
        <p>A TALENTED TEAM OF CRYPTOCURRENCY EXPERTS </p>
    </div>
    <div class="team-content">
        <div class="row">
            <div class="col-md">
                <div class="content">
                    <div class="img-container-1">
                        <div class="icon">
                            <ul>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div> 
                                </li>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textbox">
                        <h4>Sandra Brown</h4>
                        <p><i>Ceo - Founder</i></p>
                    </div>
                </div> 
            </div>

            <div class="col-md">
                <div class="content">
                    <div class="img-container-2">
                        <div class="icon">
                            <ul>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div> 
                                </li>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textbox">
                        <h4>David Walker</h4>
                        <p><i>Pro-Trader</i></p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="content">
                    <div class="img-container-3">
                        <div class="icon">
                            <ul>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div> 
                                </li>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="socials">
                                        <i class="fa-brands fa-instagram"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="textbox">
                        <h4>Juliet Ferdinard</h4>
                        <p><i>Bitcoin Developer</i></p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                    <div class="content">
                        <div class="img-container-4">
                            <div class="icon">
                                <ul>
                                    <li>
                                        <div class="socials">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </div> 
                                    </li>
                                    <li>
                                        <div class="socials">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="socials">
                                            <i class="fa-brands fa-instagram"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="textbox">
                            <h4>Elizabeth Miller</h4>
                            <p><i>Director</i></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------ABOUT US STARTS HERE------------------------------------------>

<div class="about-us">
    <div class="heading">
        <h1><Span>About</Span> Us</h1>
    </div>
    <div class="row">
        <div class="col-md info">    
            <div class="write-up show">
                <h2><span>TradeNest</span>
                  <br/> <i> Where Your Future Meets the Blockchain.</i></h2>
            </div>
        </div>
        <div class="col-md content2">
            <h4>
                <span>TradeNest</span> is a trusted <span>Bitcoin investment</span> platform, founded to empower individuals 
                and businesses in the realm of <span>digital finance</span>. Committed to decentralized finance, 
                transparency, and innovation, our <span>seasoned team</span> provides a secure, <span>user-friendly</span> platform. 
               <span> Join us </span>on the path to financial freedom and explore the limitless possibilities of <span>Bitcoin 
                and blockchain.</span>
            </h4>
            <div class="about-us-link">
                <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </div>
</div>

<!---------------------------------TESTIMONIAL SECTION-------------------------------------------->

<div class="testimonial">
    <div class="heading">
        <h1>Our <span>Client's</span> opinions</h1>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-card">
                <div class="content">                
                    <img src="{{ url_for('static', filename='images/user-1.jpg') }}" alt="user1">
                    <div class="content-text">
                        <i class="fa-solid fa-quote-left"></i>
                        <h2>Hi, I'm Jessica! This Bitcoin investment site changed my financial game. 
                         I'm witnessing incredible growth. Joining was a smart move 
                        for anyone looking to secure their financial future!</h2><br/> 
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial-card">
                <div class="content">
                    <img src="{{ url_for('static', filename='images/user-2.jpg') }}" alt="user1">
                    <div class="content-text">
                       <i class="fa-solid fa-quote-left"></i>
                       <h2>Hi there, it's Olivia. Impressive returns and seamless wealth growth! 
                        This site is a game-changer. I'm confidently building my financial dreams. 
                        Join us and experience financial empowerment!</h2>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>        
        </div>
            <div class="carousel-item">
                <div class="testimonial-card">
                    <div class="content">                
                        <img src="{{ url_for('static', filename='images/user-3.jpg') }}" alt="user1">
                        <div class="content-text">
                            <i class="fa-solid fa-quote-left"></i>
                            <h2>I'm Rachel. Thrilled with my Bitcoin gains! This platform is a surefire way 
                            to financial success. I'm making smart investment moves. Join the journey 
                            to financial freedom with this amazing site!</h2>
                            <i class="fa-solid fa-quote-right"></i>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
</div>
<!------------------------------------------- GET STARTED TODAY-------------------------------------------------->
<div class="get-started">
    <div class="content">
        <div class="content-text">
            <h1>GET<span> STARTED</span> TODAY WITH <span>BITCOIN</span> </h1>
            <h2>Open Accounts For Free And Start Trading Crypto Today</h2>
        </div>
        <a id="signupBtn" class="btn">SIGN UP</a>
    </div>
  </div>
  
  <!------------------------------------------------FOOTER STARTS HERE---------------------------------------->
  
  <footer>
    <div class="row">
        <div class="col-md">
            <div class="users">
                <div class="row">
                    <div class="col-md">
                        <h3>200+</h3>
                        <p>ACTIVE TRADERS</p>
                    </div>
                    <div class="col-md">
                        <h3>427k</h3>
                        <p>DAILY TRANSACTIONS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h3>150k</h3>
                        <p>ACTIVE ACCOUNTS</p>
                    </div>
                    <div class="col-md">
                        <h3>100</h3>
                        <p>SUPPORTED COUNTRIES</p>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md footer">
            <div class="C-1">
                <ul>
                    <li><h4>HELP & <span>SUPPORT</span></h4></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">TERMS & CONDITIONS</a></li>
                    <li><a href="">CUSTOMER CARE</a></li>
                </ul>
            </div>
            <div class="C-2">
                <ul>
                    <li><h4>CONTACT <span>US</span></h4></li><br/>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>                
                    <li><h3>For more Information Visit our <a href="/contact">Contact Us </a>Page</h3></li>
  
                </ul>                    
            </div>    
        </div>
    </div>
  </footer>
  
{% endblock %}