{% extends "ProfileBase.html" %}
{% block title %} Profile {% endblock %}

{% block content %}

<div class="Account-info">
    <div class="usrname">
        <span><i class="fa-regular fa-user"></i></span>
        <h4><i>Hello, {{usr.First_name}}</i></h4>
    </div>
    <div class="nav">
        <ul>
            <div class="nav-links">
                <li>
                    <a href="/">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <span class="icon"><i class="fa-solid fa-headphones"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        <span class="icon"><i data-count="{{number_of_notices}}" class="fa-regular fa-bell {% if number_of_notices == 0 %} inactive {% endif %}"></i></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <div class="details">
        <div class="balance">
            <h5> Your Balance </h5>
            <p><span><i class="fa-solid fa-dollar-sign"></i></span>{{usr.Balance}}</p>
        </div>
        <div class="transaction">
            <a href="/history"> Transaction History <i class="fa-solid fa-clock-rotate-left"></i></a>
            <div class="deposit">
                <a href="/deposit" class="btn">
                    <i class="fa-solid fa-plus"></i> Deposit
                </a>
            </div>
        </div>
    </div>
</div>

<div class="dashboard">
    <div class="trade-analysis">
        <div class="links">
            <ul class="dash">
                <li class="dash-link live">
                    <button class="btn">Open </button>
                </li>
                <li class="dash-link ">
                    <button class="btn ">Pending</button>
                </li>
                <li class="dash-link">
                    <button class="btn ">Closed</button>
                </li>
                <div class="content">

                    <div class=" Trade">
                        {% if Number_of_Open_trades == 0 %}
                            <h2 class="no-request">No open Orders </h2>
                            {% else %}
                                <ul class="trade-box">
                                    {% for trade in Trade|reverse %}
                                        {% if trade.Status == 'Open'%}
                                            <li class="trade-item">
                                                <div class="btc-icon2">
                                                    <i class="fa-brands fa-btc"></i>
                                                </div> 
                                                <div class="info">
                                                    <div class="amt">
                                                        <ul>
                                                            <li>Equity: ${{ trade.Amount}}  <span class="ml-5">Lot size: {{trade.Lot_size}}</span></li>
                                                            
                                                            <li>Duration: {{trade.Duration}} days<span>Estimated Profit: ${{trade.Profit}}</span></li>
                                                            
                                                        </p> 
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}    
                                </ul>
                            {% endif%}
                    </div>

                    <div class="Trade">
                        {% if Number_of_Pending_trades == 0 %}
                            <h2 class="no-request">No Pending Orders </h2>
                        {% else %}
                            <ul class="trade-box">
                                {% for trade in Trade|reverse %}
                                    {% if trade.Status == 'Pending'%}
                                    <li class="trade-item">
                                        <div class="btc-icon2">
                                            <i class="fa-brands fa-btc"></i>
                                        </div> 
                                        <div class="info">
                                            <div class="amt">
                                                <ul>
                                                    <li>Equity: ${{ trade.Amount}}<span class="ml-5"> Lot size: {{trade.Lot_size}}</span></li>
                                                    <li>Duration: --- <span>Estimated Return: ${{trade.Profit}}</span></li>
                                                </p> 
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif%}
                    </div>

                    <div class="Trade">
                        {% if Number_Closed_trades == 0 %}
                            <h2 class="no-request">No Activity For the past 30 days </h2>
                        {% else %}
                            <ul class="trade-box">
                                {% for trade in Closed_trades|reverse %}
                                <li class="trade-item">
                                    <div class="btc-icon2">
                                        <i class="fa-brands fa-btc"></i>
                                    </div> 
                                    <div class="info">
                                        <div class="amt">
                                            <ul>
                                                <li>Equity: ${{ trade.Amount}}<span class="ml-5"> Lot size: {{trade.Lot_size}}</span></li>
                                                <li><span class="dates ml-0 text-white">{{trade.Date}}</span><span>Profit: <span class="profit">{{trade.Profit}} USD</span></span></li>
                                                
                                            </p> 
                                        </div>
                                    </div>
                                </li>
                                {% endfor %} 
                                <div class="scroll"></div>
                            </ul>
                        {% endif %}   
                    </div>
                </div>
            </ul>
        </div>
    </div>    
</div>

{% endblock %}