{% extends "ProfileBase.html" %}
{% block title %} Profile {% endblock %}

{% block content %}

<div class="Account-setting">
    <div class="acct-name ml-3">
        <span><i class="fa-regular fa-user"></i></span>
        <h4><i>{{usr.First_name}} {{usr.Last_name}}</i></h4>
    </div>
    <div class="nav">
        <ul>
            <div class="nav-links">
                <li>
                    <a href="/">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <span class="icon"><i class="fa-solid fa-headphones"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        <span class="icon"><i data-count="{{number_of_notices}}" class="fa-regular fa-bell {% if number_of_notices == 0 %} inactive {% endif %}"></i></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <div class="details">
        <div class="balance ml-2">
            <h5> Profile equity </h5>
            <p><span><i class="fa-solid fa-dollar-sign"></i>{{usr.Total_balance}}0</span></p>
        </div>
        <div class="transaction mr-3">
            <h5>Subscription</h5>
            {% if usr.Subscription_plan == 'Bronze' %}
                <p id="bronze">{{usr.Subscription_plan}}</p>
            {% else %}
                {% if usr.Subscription_plan == 'Silver' %}
                    <p id="silver">{{usr.Subscription_plan}}</p>
                {% else %}
                    {% if usr.Subscription_plan == 'Gold' %}   
                        <p id="gold">{{usr.Subscription_plan}}</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div class="setting-wrapper">
    <div class="setting-links">
        <ul>
            <a href="/profile-security">
                <li>
                    <i class="fa-solid fa-shield mr-3"></i>Security
                </li>
            </a>
            <a href="/withdraw-request">
                <li>
                    <i class="fa-solid fa-money-bill-transfer mr-3"></i> Withdrawal
                </li>
            </a>
            <a href="/faq">
                <li>
                    <i class="fa-solid fa-circle-question mr-3"></i>Help
                </li>
            </a>
            <a href="/logout">
                <li>
                    Sign Out
                </li>
            </a>
        </ul>
    </div>
</div>


{% endblock %}