{% extends 'trade-activation.html' %}

{% block image %}
<img src="https://images.pexels.com/photos/7567565/pexels-photo-7567565.jpeg?auto=compress&cs=tinysrgb&w=600" style="height: 150px; width: 100%;">
{% endblock %}

{% block sub_heading %}
<div class="sub-heading" style="font-weight: 600; text-align: center; font-size: 1.1rem;">
    Trade Session Closed
</div>
{% endblock %}

{% block msg %}
<div class="msg" style="text-align: center; font-weight: 500;">
    Your open trade session has ended and the Profits have been credited to your account available balance.
    Your Trade equity has been saved. <br/>
    visit your profile to Cash out your profits.
</div>
{% endblock %}
{% block footer %}
    <div style="padding: 2px 0; text-align: center; font-style: italic;">
        <p>if you have more question, please contact us through our customer care.<br/>
            Thank your for choosing TradeNest!
        </p>
    </div>
{% endblock %}
