{%  extends 'ProfileBase.html' %}
{%  block title %} Withdrawal {%  endblock %}

{% block content %}

<div class="Account-info">
    <div class="usrname">
        <span><i class="fa-regular fa-user"></i></span>
        <h4><i>Hello, {{usr.First_name}}</i></h4>
    </div>
    <div class="nav">
        <ul>
            <div class="nav-links">
                <li>
                    <a href="/">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <span class="icon"><i class="fa-solid fa-headphones"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        <span class="icon"><i data-count="{{number_of_notices}}" class="fa-regular fa-bell {% if number_of_notices == 0 %} inactive {% endif %}"></i></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <div class="details pl-3 pr-3 ">
        <div class="balance">
            <h5>Balance </h5>
            <p> <span><i class="fa-solid fa-dollar-sign"></i></span> {{usr.Balance}}0</p>
        </div>
        <div class="transaction">
            <div class="total-bal">
                <h5> Cash Out </h5>
                <p><span><i class="fa-solid fa-dollar-sign"></i></span> {{usr.Available_balance}}0</p>
            </div>
        </div>
    </div>
</div>

<div class="Overlay"></div>  

<div class="withdraw-form-wrapper">
    <div class="withdraw-form">

        <form method="POST">
            <div class="withdraw-input-box">
                <input type="text" class="form-control"  name="amount" id="w-amount" required>
                <label for="amount" id="w-label">Enter amount</label>
            </div>
            <label id="float">
                <i class="fa-solid fa-circle-exclamation"></i> Please enter whole numbers only. Decimals are not allowed in this field
            </label>

            <div class="withdraw-input-box">
                <input type="text" class="form-control" id="w-address" name="wallet-address" required>
                    <label for="w-address">Enter Recipient wallet address</label>
            </div>
 
            
            <div class="alert">
                <p>Please ensure you enter the right wallet address to avoid loss of funds</p>
            </div>
            
            <div class="next-btn">
                <button type='submit' class="btn" id="w-btn"> Next </button>
            </div>
        </form>
    </div>
</div>

{%  endblock %}